/* Universal Styles */

body {
    font-family: Roboto, sans-serif;
    margin: 0 auto;
}

.section {
    border: 2px solid #a3a3c2;
    border-radius: 3px;
    padding: 30px 20px 50px 20px;
    margin: 25px 15px;
}

.container {
    display: flex;
    max-width: 100%;
}


/* Header Styles */

.site-heading h1 {
    font-weight: 700;
    text-align: center;
    font-size: 3em;
}

.site-heading h3 {
    font-weight: 400;
    text-align: center;
}

.section-head {
    text-align: center;
    font-size: 2em;
}


/* Colours Styles */

.container {
    display: flex;
    justify-content: space-evenly;
}

.container .colour {
    border: 2px solid black;
    border-radius: 4px;
    margin-right: 5px;
    padding: 5px;
    width: 250px;
    max-width: 25%;
}

.container .blue {
    background-color: hsl(180, 100%, 85%);
}

.container .green {
    background-color: hsl(150, 100%, 75%);
}

.container .purple {
    background-color: hsl(285, 100%, 60%);
}

.container .gold {
    background-color: hsl(48, 100%, 50%);
}

.colour .colour-content {
    text-align: center;
}


/* Font Styles */

.container h3 {
    text-decoration: underline;
}

.open-sans {
    font-family: "Open Sans";
}

.nunito {
    font-family: Nunito;
}

.bold {
    font-weight: 700;
}

.light {
    font-weight: 300;
}

.slight {
    font-weight: 500;
}


/* Text Styles styles */

.heading1 {
    font-family: "Open Sans";
}

.heading1 h1 {
    font-size: 32px;
    font-weight: 700;
}

.heading2, .para {
    font-family: "Roboto";
}

.heading2 h2 {
    font-size: 24px;
    font-weight: 500;
}

.para {
    font-size: 16px;
}

.heading3 {
    font-family: "Nunito";
}

.heading3 h3 {
    font-size: 18px;
    font-weight: 700;
}


/* Footer Styles */

.footer {
    background-color: hsl(0, 0%, 95%);
    padding: 15px;
}

.footer p {
    font-size: 12px;
    font-family: "Open Sans";
}